
<div class="section group">
  <div class="col span_5_of_5" id="title">
    <h1>Add your project</h1>
  </div>
</div>

<div class="section group">
  <div class="col span_5_of_5" id="new_project">
      <%= form_for [@hackathon, @project] do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.label :gitrepo %>
      <%= f.text_field :gitrepo %>
      <%= f.submit "Create", :id => 'create' %>
    <% end %>
  </div>
</div>



