<div class="section group">
	<div class="col span_5_of_5" id="title_tile">
		<h2>
			<%= @project.name %>
		</h2>
	</div>
</div>

<div class="section group">
	<form action="post">
	<div class="col span_1_of_5" id="product_tile">
		<h3>Product</h3>
		<input type="checkbox" class="milestone" name="product" value="product" id="product" <%= "checked" if @project.product %> >
	</div>
	<div class="col span_1_of_5" id="design_tile">
		<h3>Design</h3>
		<input type="checkbox" class="milestone" name="design" value="design" id="design" <%= "checked" if @project.design %> >
	</div>
	<div class="col span_1_of_5" id="frontdev_tile">
		<h3>Front-end Development</h3>
		<input type="checkbox" class="milestone" name="frontdev" value="frontdev" id="frontdev" <%= "checked" if @project.frontdev %> >
	</div>
	<div class="col span_1_of_5" id="backdev_tile">
		<h3>Back-end Development</h3>
		<input type="checkbox" class="milestone" name="backdev" value="backdev" id="backdev" <%= "checked" if @project.backdev %> >
	</div>
	<div class="col span_1_of_5" id="presentation_tile">
		<h3>Presentation</h3>
		<input type="checkbox" class="milestone" name="presentation" value="presentation" id="presentation" <%= "checked" if @project.presentation %> >
	</div>
	</form>
</div>


<a href="/dashing/dashboards/september" >Hackathon dashboard</a>