<div class="section group">
	<div class="col span_5_of_5" id="title">
		<h2>Create Your Hackathon</h2>
	</div>
</div>

<div class="section group">
		<div class="col span_4_of_5" id="new_hackathon">
			<%= form_for Hackathon.new, html: {multipart: true} do |f| %> <!-- should be @hackathon -->
			<%= f.label :name %>
			<%= f.text_field :name %><br>
			<%= f.label :end_time %>
			<%= f.datetime_select :end_time %>
		</div>
		<div class="col span_1_of_5" id="submit">
			<%= f.submit %>
		</div>
	<% end %>
</div>
