<!DOCTYPE html>
<html>
<head>
  <title>Trackathon</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class="section group">
	<div class="col span_5_of_5">
		<nav id="nav-bar">
			<ul>
					<a href="/"><img class="logo" src="/images/Trackathon_logo.png" height="26" width="126" ></a>
					<li><a class="new_hackathon_link"href="/">Home</a></li>
					<li><a class="new_hackathon_link"href="/about">About</a></li>
				<% if user_signed_in? %>
					<li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
				<% else %>
					<li><%= link_to "Sign in", new_user_session_path %></li>
					<li><%= link_to "Sign up", new_user_registration_path %></li>
				<% end %>
			</ul>
		</nav>
	</div>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= yield %>

</header>

</body>
</html>
